<body>
  <div class="main">
    <div class="donateDiv">
  <h2>Donate to Food Gatherers</h2>
  <input type="text" placeholder="First name"></input>
  <input type="text" placeholder="Last name"></input>
  <input type="number" placeholder="$50"></input>
    <input type="text" placeholder="Message"></input>
  <input type="text" placeholder="Street Address"></input>
  <input type="text" placeholder="City"></input>
  <input type="text" placeholder="State"></input>
  <input type="text" placeholder="Zipcode"></input>
  <input type="text" placeholder="Phone"></input>
  <input type="text" placeholder="Credit of debit card number"></input>
  <input type="text" placeholder="Name on card"></input>
  <input type="text" placeholder="Expiration date"></input>
  <input type="text" placeholder="CID"></input>
  <button>DONATE</button>
</div>
</div>
</body>
