<div id="donateTemplate">
    <div id="donateDiv">
        <h2>Donate to Food Gatherers</h2>
        <div id="donateCard">
            <input class="donateInputs" type="text" placeholder="First Name">
            <input class="donateInputs" type="text" placeholder="Last Name">
            <input class="donateInputs" type="number" placeholder="$50">
            <input class="donateInputs" type="text" placeholder="Message">
            <input class="donateInputs" type="text" placeholder="Street Address">
            <input class="donateInputs" type="text" placeholder="City">
            <input class="donateInputs" type="text" placeholder="State">
            <input class="donateInputs" type="text" placeholder="Zipcode">
            <input class="donateInputs" type="text" placeholder="Phone">
            <input class="donateInputs" type="text" placeholder="Credit/Debit Card Number">
            <input class="donateInputs" type="text" placeholder="Name on Card">
            <input class="donateInputs" type="text" placeholder="Expiration Date">
            <input class="donateInputs" type="text" placeholder="CID">
            <a href="http://www.foodgatherers.org/donate">DONATE</a>
        </div>
    </div>
    <button ng-click="$ctrl.home();">HOME</button>
</div>