<nav class="titleNavEvent">
    <ul>
        <li>
            <a href="#!/start">Info</a>
        </li>
        <li>
            <a href="#!/events" ng-click="FoodFightService.resetValues();">Game</a>
        </li>
        <li>
            <a href="#!/donate">Donate</a>
        </li>
        <li>
            <a href="#!/add">Admin</a>
        </li>
        <li>
            <a href="#!/team">Team</a>
        </li>
    </ul>
</nav>

<div class="needCashMenu">
    <div class="mood">
        <span class="emotionWriteTo">
        </span>
        <progress class="moodProgress" value="10" max="10"></progress>
    </div>
    <p>NEED CASH?</p>
    <ul class="cashGrabItems">
        <li class="liSpan liSpan1">
            <span class="haveToMakeABorderForThisShit">Break your kids piggy bank</span>
        </li>
        <li class="piggy" ng-click="$ctrl.piggyBank()">
            <img src="dependencies/piggy-bank.svg">
        </li>
        <li class="liSpan liSpan2">
            <span class="haveToMakeABorderForThisShit">Donate Blood</span>
        </li>
        <li class="blood" ng-click="$ctrl.donBlood()">
            <img src="dependencies/blood-sample.svg">
        </li>
    </ul>
</div>
<div class="titleIconsEvent">
    <i class="material-icons" class="menuIconEvent" ng-click="$ctrl.titleNavButton()">restaurant_menu</i>
</div>

<div class="piggyError" hm-tap="$ctrl.closePiggyError()">
    <div hm-tap="$ctrl.closePiggyError()"></div>
    <span hm-tap="$ctrl.closePiggyError()">
        <p>You already broke your kids piggy bank open!</p>
    </span>
</div>
<div class="donateError" hm-tap="$ctrl.closeDonateError()">
    <div hm-tap="$ctrl.closeDonateError()"></div>
    <span hm-tap="$ctrl.closeDonateError()">
        <p>You already donated blood!</p>
    </span>
</div>
<div class="main" hm-panright="$ctrl.onSwipeRight()" hm-panleft="$ctrl.onSwipeLeft()" hm-panup="$ctrl.onSwipeUp()" hm-pandown="$ctrl.onSwipeDown()">
    <span class="getCashBorder">
        <span class="getCash" ng-click="$ctrl.cashMenu()">
            <hr class="getCashBar">
            <p>$</p>
            <hr class="getCashBar">
        </span>
    </span>
    <div class="eventContainer" ng-click="$ctrl.cashMin()">
        <div class="header">
            <progress class="mainProgress" value="150" max="150"></progress>
            <div class="topInfo">
                <p>$
                    <span class="budget">{{$ctrl.amount}}</span>
                </p>
                <p>Day:
                    <span>{{$ctrl.dayCount}}</span>
                </p>
            </div>
        </div>
        <div class="eventTitle">
            <h1 class="eventHeader">{{$ctrl.eventObj.eventname}}</h1>
            <hr class="eventHeaderBar">
            <p>{{$ctrl.eventObj.text}}</p>
        </div>
        <div class="eventImageDiv">
            <img class="eventImage" src="{{$ctrl.eventObj.image}}">
        </div>

        <div class="cardContainer">
            <div class="card1 flip-container" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-scale="1.05"
                data-tilt-glare data-tilt-max-glare="0.5" ng-click="$ctrl.selectOption1($ctrl.eventObj.option1price,$ctrl.eventObj.mood1, event)">
                <div class="flipper1" data-id="1">
                    <div class="front">
                        <p>{{$ctrl.eventObj.option1}}</p>
                        <p>${{$ctrl.eventObj.option1price}}</p>
                    </div>
                    <div class="back">
                        <p>{{$ctrl.eventObj.fact}}</p>
                        <p class="cardUnderliner">Next event</p>
                    </div>
                </div>
            </div>
            <div class="card2 flip-container" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-scale="1.05"
                data-tilt-glare data-tilt-max-glare="0.5" ng-click="$ctrl.selectOption2($ctrl.eventObj.option2price,$ctrl.eventObj.mood2, event)">
                <div class="flipper2" data-id="2">
                    <div class="front">
                        <p>{{$ctrl.eventObj.option2}}</p>
                        <p>${{$ctrl.eventObj.option2price}}</p>
                    </div>
                    <div class="back">
                        <p>{{$ctrl.eventObj.fact}}</p>
                        <p class="cardUnderliner">Next event</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fillSpace">
    </div>
</div>
<footer>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://foodfightforgood.org" target="_blank" rel="noopener" class="facebookDiv">
        <img class="facebookImage" src="images/facebook.png">
    </a>
    <p ng-click="$ctrl.showDonate()">Donate</p>
</footer>

<div class="formFocus">
    <i class="material-icons" ng-click="$ctrl.close()">close</i>
</div>
<div class="creditForm">
    <div class="card" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-glare data-tilt-max-glare="1">
        <div class="topCard">
            <div class="chip">
                <div class="chipDec"></div>
            </div>
            <img src="dependencies/visa.svg" style="width: 50px;">
        </div>
        <div class="cardNumbers">
            <p>{{ $ctrl.cc.ccnum1 }}</p>
            <p>&#160;</p>
            <p>{{ $ctrl.cc.ccnum2 }}</p>
            <p>&#160;</p>
            <p>{{ $ctrl.cc.ccnum3 }}</p>
            <p>&#160;</p>
            <p>{{ $ctrl.cc.ccnum4 }}</p>
        </div>

        <div class="cardNameonCard">
            <p>Card Holder</p>
            <p class="exptext">Expiration</p>

        </div>
        <div class="expOnCard">
            <p>{{ $ctrl.cc.ccname }}</p>
            <div>
                <p>{{ $ctrl.cc.exp1 }}</p>
                <p>/</p>
                <p>{{ $ctrl.cc.exp2 }}</p>
            </div>
        </div>


    </div>
    <div class="creditCard">
        <form ng-submit="$ctrl.submitForm(ccform.$valid, $ctrl.cc)" class="form" name="ccform" autocomplete="on" novalidate>
            <rzslider class="custom-slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
            <div class="ccNum">
                <div>
                    <label for="card-number">Credit Card
                        <input type="text" id="card-number3" class="ccnum1 lockChange" maxlength="4" required ng-required="true" ng-minlength="4"
                            ng-maxlength="4" ng-model="$ctrl.cc.ccnum1">
                    </label>
                </div>
                <input type="text" maxlength="4" required ng-required="true" ng-minlength="4" ng-maxlength="4" ng-model="$ctrl.cc.ccnum2"
                    class="ccnum2 lockChange">
                <input type="text" maxlength="4" required ng-required="true" ng-minlength="4" ng-maxlength="4" ng-model="$ctrl.cc.ccnum3"
                    class="ccnum3 lockChange">
                <input type="text" maxlength="4" required ng-required="true" ng-minlength="4" ng-maxlength="4" ng-model="$ctrl.cc.ccnum4"
                    class="ccnum4 lockChange">
            </div>
            <div class="cardName">
                <label for="card-holder">Card Holder Name
                    <input type="name" id="card-holder3" class="ccname lockChange" ng-model="$ctrl.cc.ccname" maxlength="32" required ng-required="true"
                        ng-minlength="3" ng-maxlength="32">
                </label>
            </div>
            <div class="expCCV">
                <div class="expWhole">
                    <div class="expirationLabel">
                        <label for='expiration-date'>Expiration
                            <select id="expiration-date3" class="ccselect1 lockChange" ng-model="$ctrl.cc.exp1" required ng-required="true">
                                <option value=""></option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </label>
                    </div>
                    <select ng-model="$ctrl.cc.exp2" class="ccselect2 lockChange" required ng-required="true">
                        <option value=""></option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                    </select>
                </div>
                <div class="ccvForm">
                    <label for="ccv">CCV
                        <input type="text" id="ccv3" class="ccCCV lockChange" maxlength="3" ng-model="$ctrl.cc.ccCCV" required ng-required="true"
                            ng-minlength="3" ng-maxlength="3">
                    </label>
                </div>
            </div>
            <button type="submit" class="submitCC" ng-disabled="ccform.$invalid">
                <span>
                    <i class="material-icons">lock_outline</i>
                </span>Submit - Demo Only</button>
        </form>
    </div>
</div>