<nav class="titleNavElse">
    <ul>
        <li>
            <a href="#!/start" ng-click="FoodFightService.resetValues();">Home</a>
        </li>
        <li>
            <a href="#!/events" ng-click="FoodFightService.resetValues();">Game</a>
        </li>
        <li>
            <a href="#!/donate">Donate</a>
        </li>
        <li>
            <a href="#!/add">Admin</a>
        </li>
        <li>
            <a href="#!/team">Team</a>
        </li>
    </ul>
</nav>
<div class="titleIconsElse">
    <i class="material-icons" class="menuIcon" ng-click="$ctrl.titleNavButton()">restaurant_menu</i>
</div>
<div id="receipt" hm-panup="$ctrl.onSwipeUp()" hm-pandown="$ctrl.onSwipeDown()">
    <div class="receiptMain">
        <h1>Thank You {{$ctrl.name}}, For Your Donation!</h1>
        <p>Your donation of ${{ $ctrl.cc.value }} will help feed 1 family for {{ $ctrl.days }} days!</p>
        <div>
            <span class="receiptDate">
                <p>Date</p>
                <p>{{$ctrl.date}}</p>
            </span>
            <span class="receiptName">
                <p>Name</p>
                <p>{{$ctrl.cc.ccname}}</p>
            </span>
            <span class="receiptValue">
                <p>Amount</p>
                <p>{{$ctrl.cc.value}}</p>
            </span>
            <span class="receiptType">
                <p>Payment Type</p>
                <p>Credit Card</p>
            </span>
            <span class="receiptCard">
                <p>Card Used</p>
                <p>-{{$ctrl.cc.ccnum4}}</p>
            </span>
        </div>
    </div>
</div>