<nav class="titleNavElse">
    <ul>
        <li>
            <a href="#!/start" ng-click="FoodFightService.resetValues();">Home</a>
        </li>
        <li>
            <a href="#!/events" ng-click="FoodFightService.resetValues();">Game</a>
        </li>
        <li>
            <a href="#!/donate">Donate</a>
        </li>
        <li>
            <a href="#!/add">Admin</a>
        </li>
        <li>
            <a href="#!/team">Team</a>
        </li>
    </ul>
</nav>
<div class="titleIconsElse">
    <i class="material-icons" class="menuIcon" ng-click="$ctrl.titleNavButton()">restaurant_menu</i>
</div>
<div id="receipt">
    <center id="top">
        <div class="info">
            <h2>Receipt</h2>
        </div>
    </center>
    <div id="mid">
    </div>
    <div id="bot">
        <div id="table">
            <table>
                <tr class="service">
                    <td class="tableitem">
                        <p class="itemtext">Name</p>
                    </td>
                    <td class="tableitem">
                        <p class="itemtext">John Doe</p>
                    </td>
                </tr>
                <tr class="service">
                    <td class="tableitem">
                        <p class="itemtext">Amount</p>
                    </td>
                    <td class="tableitem">
                        <p class="itemtext">3</p>
                    </td>
                </tr>
                <tr class="service">
                    <td class="tableitem">
                        <p class="itemtext">Date</p>
                    </td>
                    <td class="tableitem">
                        <p class="itemtext">5</p>
                    </td>
                </tr>
                <tr class="service">
                    <td class="tableitem">
                        <p class="itemtext">Card Info</p>
                    </td>
                    <td class="tableitem">
                        <p class="itemtext">-1111</p>
                    </td>
                </tr>
            </table>
        </div>
        <div id="legalcopy">
            <p class="legal">
                <strong>Thank you for your contribution!</strong>
            </p>
        </div>
    </div>
</div>