<nav class="titleNav">
    <ul>
        <li>
            <a href="#!/start">Info</a>
        </li>
        <li>
            <a href="#!/events">Game</a>
        </li>
        <li>
            <a href="#!/result">Donate</a>
        </li>
        <li>
            <a href="#!/add">Admin</a>
        </li>
    </ul>
</nav>
<div class="titleMain" slide-up data-parallaxify-background-range="50">
    <div class="imgContainer">
        <!-- <img class="mainImg mainImg1" src="images/main.jpg">
        <img class="mainImg mainImg2" src="images/main.jpg" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="500"
            data-tilt-scale="1.05">
        <img class="mainImg mainImg3" src="images/main.jpg" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="500"
            data-tilt-scale="1.05"> -->
    </div>
    <div class="titleIcons">
        <i class="material-icons" class="menuIcon" ng-click="$ctrl.titleNavButton()">restaurant_menu</i>
        <div>?</div>
    </div>
    <div class="welcomeContainer">
        <div class="title">
            <h1 class="splashHeader">FOOD FIGHT<br><h4>FOR GOOD</h4></h1>
        </div>
        <div class="bodyText">
            <!-- <p>Food Gatherers serves 44,500 low-income adults, seniors, and children in Washtenaw County, who do not have enough
                food.
            </p>
            <br> -->
            <p>Could you feed a family of 4 on $150 a week?</p>
            <div class="welcomeButtons">
                <button class="priorityButton" ng-click="$ctrl.start()">
                    <span>TRY IT</span>
                    <i class="material-icons arrowDown">keyboard_arrow_down</i>
                    <i class=" material-icons arrowRight">keyboard_arrow_right</i>
                </button>
                <button class="secondaryButton">
                    <span>INFO</span>
                    <i class=" material-icons arrowRight">keyboard_arrow_right</i>
                </button>
            </div>
        </div>
    </div>
</div>
