<nav class="titleNavElse">
  <ul>
    <li>
      <a href="#!/start" ng-click="FoodFightService.resetValues();">Home</a>
    </li>
    <li>
      <a href="#!/events" ng-click="FoodFightService.resetValues();">Game</a>
    </li>
    <li>
      <a href="#!/donate">Donate</a>
    </li>
    <li>
      <a href="#!/add">Admin</a>
    </li>
    <li>
      <a href="#!/team">Team</a>
    </li>
  </ul>
</nav>
<div class="titleIconsElse">
  <i class="material-icons" class="menuIcon" ng-click="$ctrl.titleNavButton()">restaurant_menu</i>
</div>
<div id="teamDiv" hm-panup="$ctrl.onSwipeUp()" hm-pandown="$ctrl.onSwipeDown()">
  <div class="teamText">
    <h1>TEAM</h1>
    <h2>Matthew Doyle</h2>
    <a href="https://www.linkedin.com/in/doyle928/">Front-End Developer</a>
    <h2>David Hornback</h2>
    <a href="https://www.linkedin.com/in/davidhornback/">Front-End Developer</a>
    <h2>Aswathy Suresh</h2>
    <a href="https://www.linkedin.com/in/aswathysuresh/">Front-End Developer</a>
    <h2>Todd Rader</h2>
    <a href="https://www.linkedin.com/in/todd-rader/">Marketing Strategist</a>
    <div id="codeDiv">
      <h1>CODE</h1>
      <h2>GitHub</h2>
      <a href="https://github.com/doyle928/Food-Fight">View Code</a>
    </div>
  </div>
</div>
<div>
  <button ng-click="$ctrl.playAgain()">Play Again?</button>
</div>